/www
back/cors/gradle.properties
back/cors/src/main/resources/application-credentials.yml
back/cors/src/main/resources/application-email.yml
cors-0.0.1-SNAPSHOT.jar
back/cors/logs
back/cors/cors-0.0.1-SNAPSHOT.jar
back/cors/awscli-bundle/
back/cors/awscli-bundle.zip
back/cors/src/test/resources/application-credentials.yml
back/cors/src/test/resources/application-email.yml
back/cors/src/main/resources/application-oauth.yml  
back/cors/src/main/resources/application.yml

